<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <title>{% block title %}Contacts page{% endblock %}</title>
        <meta xhttp-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen,projection,tv" />
        {% block head %}
        {% endblock %}
</head>

<body>
   <h1>Test app</h1>
   {% block welcome %}
   {% endblock %}
   {% block content %}
   <p>
   {% for field in contact %}
   <div class="lft">
    <p>Name: {{field.name}}</p>
    <p>Last name: {{field.lastname}}</p>
    <p>Date of birth: {{field.date_of_birth|date:"d-m-Y"}}</p>
    <p class="bio">Bio:</br> {{field.bio}}</p>
    </div>
    <div class="rgt">
    <p> Contacts: </p>
    <p>E-mail: <a href="mailto:{{field.email}}">{{field.email}}</a></p>
    <p>Jabber: {{field.jabber}}</p>
    <p>Skype: {{field.skype}}</p>
    <p>Other contacts:</br>{{field.other_contacts}}</p>
    </div>
   <div class="clr"></div>
   {% endfor %}
   </p>
   {% endblock %}
</body>
</html>

